includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        # This is unfixable without an upstream change to the interface.
        - '#Multiple\(\) should be contravariant with parameter#'
    level: max
    paths:
        - src
        - tests
